@inherits LayoutComponentBase
<div class="page">
    <div class="sidebar">
        <NavMenu />
    </div>

    <main>
        <div class="top-row px-4">
            <a href="https://github.com/soma-kurisu">
                <span class="sr-only">{</span>
                    <img src="https://github.githubassets.com/assets/github-mark-9be88460eaa6.svg" width="20" height="20" class="d-inline" loading="lazy" decoding="async" alt="GitHub mark">
                <span class="sr-only">}</span>
            </a>
        </div>

        <article class="content" style="margin-top: -6rem;">
            @Body
        </article>
    </main>
</div>
