@inherits LayoutComponentBase

<div class="page">
    <div class="sidebar">
        <NavMenu />
    </div>

    <main>
        <div class="top-row">

        </div>

        <article class="content">
            @Body
        </article>
    </main>

    <div class="right-sidebar">
        <QuickLinksSideBar />
    </div>
</div>
