<nav class="d-flex flex-column align-items-end sidebar top-row">
    <div class="nav-item me-auto">
        <a class="nav-item" href="https://matrix.to/#/@@soma-kurisu:matrix.org" target="_blank" rel="me">
            <span class="matrix-logo-bg" aria-hidden="true"></span>
        </a>
    </div>
    <div class="nav-item me-auto">
        <a class="nav-item" href="https://hachyderm.io/@@SomaKurisu" target="_blank" rel="me">
            <span class="bi bi-mastodon" aria-hidden="true"></span>
        </a>
    </div>
    <div class="nav-item me-auto">
        <a class="nav-item" href="https://twitter.com/SomaKurisu" target="_blank" rel="me">
            <span class="bi bi-twitter-x" aria-hidden="true"></span>
        </a>
    </div>
    <div class="nav-item me-auto">
        <a class="nav-item" href="https://www.linkedin.com/in/soma-kurisu/" target="_blank" rel="me">
            <span class="bi bi-linkedin" aria-hidden="true" style="margin-right: 1.4rem;"></span>
        </a>
    </div>
    <div class="nav-item me-auto">
        <a class="nav-item" href="https://github.com/soma-kurisu" target="_blank" rel="me">
            <span class="sr-only" aria-hidden="true">
                <img src="https://github.githubassets.com/assets/github-mark-9be88460eaa6.svg" class="d-inline" loading="lazy" decoding="async" alt="GitHub mark" style="width: 1.8rem; height: 1.8rem; margin-right: 1rem; margin-left: -0.3rem;">
            </span>
        </a>
    </div>
    <div class="nav-item me-auto">
        <a class="nav-item" href="https://huggingface.co/sca-ai" target="_blank" rel="me">
            <span class="hf-logo-pirate" aria-hidden="true"></span>
        </a>
    </div>
    <div class="nav-item ms-auto mt-auto">
        <a class="nav-item" href="https://www.credly.com/badges/97f7db73-24f1-4b77-968e-c0cb0d44f69b/public_url" target="_blank" rel="me">
            <img src="image/cka-certified-kubernetes-administrator.png" width="40" height="40" class="d-inline" loading="lazy" decoding="async" alt="CKA: Certified Kubernetes Administrator mark">
        </a>
    </div>
    <div class="nav-item ms-auto">
        <a class="nav-item" href="https://www.credly.com/badges/5a8d0867-c1de-4392-9b22-0e99e3676af7/public_url" target="_blank" rel="me">
            <img src="image/lfcs-linux-foundation-certified-systems-administrator.2.png" width="40" height="40" class="d-inline" loading="lazy" decoding="async" alt="LFCS: Linux Foundation Certified Systems Administrator mark">
        </a>
    </div>
    <div class="nav-item ms-auto">
        <a class="nav-item" href="https://www.credly.com/badges/a59edb3f-52cb-4446-a696-db184b8b57f6/public_url" target="_blank" rel="me">
            <img src="image/pca-prometheus-certified-associate.png" width="35" height="35" class="d-inline" loading="lazy" decoding="async" alt="PCA: Prometheus Certified Associate mark">
        </a>
    </div>
</nav>

@code {
    
}